:root{
   --bg-dark-primary: #0a0e17;
  --bg-dark-secondary: #1a1f3a;
  --primary-accent: #88d3ce;
  --secondary-accent: #6e45e2;
  --text-primary: #fff;
  --text-secondary: #ccd6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom Cursor */
body {
  background-color: #000;
  cursor: none;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 2px solid #88d3ce;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
}

.cursor-follower {
  width: 8px;
  height: 8px;
  background: #6e45e2;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease;
}





/* join us */

