<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-section about-us">
            <h3>About Us</h3>
            <div class="footer-content">
                <p>We are a dedicated community empowering students with knowledge in space technology, communication systems, and more. Our mission is to foster innovation and practical skills.</p>
            </div>
        </div>

        <div class="footer-section quick-links collapsible">
            <h3>Quick Links <span class="toggle-icon">+</span></h3>
            <div class="footer-content">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#our-focus">Our Focus</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#join-us">join</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-section contact-info collapsible">
            <h3>Contact Info <span class="toggle-icon">+</span></h3>
            <div class="footer-content">
                <p><i class="fas fa-map-marker-alt"></i> Address: Thalappuzha, PO, Mananthavady, Kerala 670644</p>
                <p><i class="fas fa-envelope"></i> Email: <a href="mailto:orion@gecwyd.ac.in">orion@gecwyd.ac.in</a></p>
                <!-- <p><i class="fas fa-phone-alt"></i> Phone: <a href="tel:+1234567890">+1 234 567 890</a></p> -->
            </div>
        </div>

        <div class="footer-section social-media collapsible">
            <h3>Follow Us <span class="toggle-icon">+</span></h3>
            <div class="footer-content">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/orion-33263b326?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/orion.gecw/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="Github"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
    <p class="made-with">
        Made with <span class="heart">❤️</span> by 
        <a href="https://www.linkedin.com/in/ashwin-8a8070241/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Ashwin</a> & 
        <a href="https://www.linkedin.com/in/jithin-sunildas-a24390312/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Jithin</a>
    </p>
    <p>&copy; 2025 ORION GEC Wayanad. All Rights Reserved.</p>
</div>

</footer>
